@define-color background #121212;
@define-color foreground #cacaca;
@define-color text #ffffff;
@define-color primary #cae982;
@define-color secondary #cae982;
@define-color slight #242424;
@define-color dark #666666;
@define-color alert #e5786d;

@define-color on-primary @background;
@define-color on-secondary @background;
@define-color on-alert @background;
@define-color on-dark @text;

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrains Mono Nerd Font";

}

window {
    font-size: 12px;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

#workspaces button>* {
    padding: 0 4px;
    color: @text;
}

#workspaces button.focused>* {
    background-color: @primary;
    color: @on-primary;
}

#workspaces button.urgent>* {
    background-color: @alert;
    color: @on-alert;
}

#mode {
    font-weight: bold;
    background-color: @primary;
    color: @on-primary;
    min-width: 8ex;
}

.modules-right>widget>* {
    padding: 0px 6px;
}

#window,
.modules-right>widget:first-child>* {
    margin-left: 8px;
}

.modules-right>widget:last-child>* {
    padding-right: 8px;
}

#clock {
    color: @text;
    font-weight: bold;
}
