/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/* The whole bar */
#waybar {
    background: #323232;
    color: white;
    font-family: "TX-02", monospace;
    font-size: 13px;
}

/* Each module */
#battery,
#clock,
#cpu,
#memory,
#mode,
#disk,
#network,
#pulseaudio,
#temperature,
#language,
#backlight,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */



#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#clock {
    font-weight: bold;
}

#cpu {
    /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}


#memory.warning {
    color: orange;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    padding: 0 10px 0;
}

#workspaces button {
    border: 1px solid transparent;
    padding: 2px 10px 2px;
    color: #888888;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #4c7899;
    border: 1px solid transparent;
    color: white;
    padding: 2px 10px 2px;
}
