name: Update Flake Inputs
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - uses: DeterminateSystems/update-flake-lock@c5930b397a673a70ca70be06020e943aeac310a1 # v27
        with:
          pr-title: Update flake inputs
          pr-labels: dependencies
          token: ${{ secrets.PR_TOKEN }} # Required so CI runs on the PR directly.
          inputs: nixpkgs disko colmena
          pr-assignees: msanft
